/* SlideTypeAC.css */
:root{
	--page:0;
}

.slideTypeAC .slideWrapper{transform:translate3d(calc(var(--page) * -286px),0,0);}

.slideTypeAC .slideWrap{position:relative;z-index:1;transform:translate(0,0);}
.slideTypeAC .title{transform:translate(0,0);font-size:36px;line-height:40px;letter-spacing:-1px;font-weight:400;color:#1a1a1a;}
.slideTypeAC .slideWrap .slideCon{margin:-44px -23px -60px;padding:60px 10px 100px;overflow:hidden;}
.slideTypeAC .slideWrapper{display:flex;justify-content:space-between;}
.slideTypeAC .slideWrapper .slide{margin:0 21px;text-align:center;}
.slideTypeAC .slideWrapper .csFocus{display:block;position:relative;width:246px;height:354px;border-radius:4px;background:url('/assets/images/common/default/thumbnail_default_port.png') no-repeat 0 0;background-size:100% 100%;box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.2);}
.slideTypeAC .slideWrapper .csFocus.focusOn{box-shadow:0 14px 14px 0 rgba(0, 0, 0, 0.35);}
.slideTypeAC .slideWrapper .csFocus img{display:block;width:100%;border-radius:4px;}
.slideTypeAC .slideWrapper .csFocus .slideTitle{position:absolute;bottom:-44px;left:50%;z-index:10;transform:translate(-50%,0);opacity:0;line-height:30px;font-size:26px;color:#fff;font-weight:700;white-space:nowrap;}
.slideTypeAC .slideWrapper .csFocus{transform:scale(1,1);}
.slideTypeAC .slideWrapper .csFocus.focusOn{transform:scale(1.2,1.2);}
.slideTypeAC .slideWrapper .csFocus.focusOn .slideTitle{opacity:1;}
.slideTypeAC .leftArrow,
.slideTypeAC .rightArrow{position:absolute;top:50%;left:-70px;z-index:10;transform:translate(0,-50%);margin-top:-25px;width:24px;height:58px;background:url("/assets/images/common/icon/arrow-left.png") no-repeat 0 0;opacity:0;}
.slideTypeAC .rightArrow{left:auto;right:-70px;background:url("/assets/images/common/icon/arrow-right.png") no-repeat 0 0;}
.slideTypeAC .activeSlide.leftActive .leftArrow,
.slideTypeAC .activeSlide.rightActive .rightArrow{opacity:1;}
.slideTypeAC .activeSlide.lastActive .slideCount{transform:translate(0,-41px);}

.slideTypeAC .activeSlide .slideCount{opacity:1;}
.slideTypeAC .slideCount{opacity:0;position:absolute;top:25px;right:0;z-index:10;font-size:23px;line-height:36px;letter-spacing:normal;color:#6a6a6a;transform:translate(0,0);}
.slideTypeAC .slideCount .current{font-weight:700;}
.dark .slideTypeAC .slideCount{color:#d4d4d4;}

.contentGroup.activeSlide .slideTypeAC .title{transform:translate(0,-40px);}

/* first allView */
.slideTypeAC .slideWrapper .slide.first.csFocus {background:linear-gradient(151deg, rgba(120, 122, 143, 0.8), rgba(144, 145, 164, 0.7));;}
.slideTypeAC .slideWrapper .slide.first.csFocus .imgWrap{background:none;}
.slideTypeAC .slideWrapper .slide.first.csFocus.focusOn {background:#f4f4f4;}
.slideTypeAC .slideWrapper .slide.first .slideTitle {opacity:1; position:absolute; top:50%; left:50%; z-index:10; width:100%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); font-size:38px; font-weight:700; line-height:1.05; letter-spacing:normal; color:rgb(244, 244, 244);}
.slideTypeAC .slideWrapper .slide.first.csFocus.focusOn .slideTitle {color:#f5513f;}


.slideTypeAC .slideWrap .slideWrapper .slide {position:relative; z-index:1;}
.slideTypeAC .slideWrap .slideWrapper .slide .icDelete {display:block; position:absolute; top:50%; left:50%; z-index:10; transform:translate(-50%, -50%); width:82px; height:82px;}
.slideTypeAC .slideWrap .slideWrapper .slide .icDelete:after {display:block; position:absolute; z-index:10; min-width:82px; min-height:82px; border-radius:82px; background-color:rgba(0, 0, 0, 0.7); background-image:url("/assets/images/myBtv/ic-movie-del.png"); background-repeat:no-repeat; background-position:center center; content:"";}
/*.slideTypeAC .slideWrap .slideWrapper .slide .csFocus.focusOn + .icDelete {margin-top:-25px;}*/
.slideTypeAC .slideWrap .slideWrapper .slide.csFocus.focusOn .icDelete:after {top:-18px; right:-18px; bottom:-18px; left:-18px; background-color:#f4f4f4; background-image:url("/assets/images/myBtv/ic-movie-del-on.png"); box-shadow: 0 24px 12px 0 rgba(0, 0, 0, 0.35);transform: scale(0.85);}

.slideTypeAC .slideWrapper .slide:first-child.csFocus.textOver .slideTitle{left:0;transform:translate(0);}
.slideTypeAC .slideWrapper .slide.first.csFocus.textOver .slideTitle{left:0;transform:translate(0,-50%);}
.slideTypeAC .slideWrapper .slide.first .imgWrap img{opacity:0;}
.slideTypeAC .slideWrapper .slide:last-child.csFocus.textOver .slideTitle{right:0;left:auto;transform:translate(0);}
.slideTypeAC .slideWrapper .slide:only-child.csFocus.textOver .slideTitle{left:0;right:auto;transform:translate(0);}

.slideTypeAC .slideWrapper .csFocus:before{position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;content:"";display:block;border-radius:2px;overflow:hidden;box-shadow:0 0 0 5px #f4f4f4;opacity:0;}
.slideTypeAC .slideWrapper .csFocus.focusOn:before{box-shadow:0 0 0 5px #f4f4f4;opacity:1;}
