/* MyWishTotalList.css */
:root{
	--page:0;
}
.wishTotalListWrap {position:relative; z-index:1; padding:72px 115px;}
.wishTotalListWrap .keyGuideWrap {position:absolute; top:78px; right:115px; z-index:10;}
.wishTotalListWrap .pageTitle {padding-bottom:16px; font-size:46px; line-height:1.13; letter-spacing:-1.4px; color:#000; opacity:0.7;}
.wishTotalListWrap .subInfo {font-size:34px; line-height:1.12; letter-spacing:-1px; color:rgba(0,0,0,0.5);}
.wishTotalListWrap .subInfo .count {font-weight:700; color:#000;}
.wishTotalListWrap .btnListWrap {position:absolute; top:88px; right:115px;}


/*.wishTotalListWrap .listItemType .listWrapper .contentGroup + .contentGroup {padding-top:117px;}*/

.wishTotalListWrap .btnTopWrap {padding:119px 0 169px}