/* CorrectSender.css */
.registWrap.correctSender {padding-top:106px;}
.correctSender .registerForm {padding:91px 174px 0;}
.correctSender .registerForm input {width:100%;}
.correctSender .registerForm .buttonKey {margin-top:42px;}