/* VODProductDetail.css */

/* CommerceProduct */
:root{
	--page:0;
}

.VODPop {position:fixed; top:0; left:0; z-index:1000; width:1920px; height:1080px;}
.VODProductDetailBg {position:fixed; top:0; left:0; z-index:-1; width:1920px; height:1080px; background-color: rgb(41, 58, 80);}
.VODProductDetailWrap {position:relative; z-index:200;}
.productDetailSlide {position:relative; z-index:1; padding:114px 303px 0; height:1080px;}
.productDetailSlide .title {font-size:40px; font-weight:700; line-height:1; letter-spacing:normal; text-align:center; color:#f8f8f8;}
.productDetailSlide .slideWrap {position:relative; z-index:1; padding:61px 0 64px;}
.productDetailSlide .slideWrap .slideCon{overflow:hidden; padding:5px 5px 32px; margin:0 -7px -32px;}
.productDetailSlide .slideWrap .slideWrapper {transform:translate3d(calc(var(--page) * -1325px),0,0);}
.productDetailSlide .slideWrap .slideWrapper {display:flex; justify-content:space-between;}
.productDetailSlide .slideWrap .slideWrapper:after {display:block; clear:both; content:"";}
.productDetailSlide .slideWrap .slideWrapper .slide .csFocus {position:relative;z-index:1;display:block; text-align:center;box-shadow:0 14px 14px 0 rgba(0, 0, 0, 0.35);}
.productDetailSlide .slideWrap .slideWrapper .slide img {display:block; width:100%; border-radius:8px;}
.productDetailSlide .slideWrap .slideWrapper .slide p {font-size:20px; color:#fff;}
.productDetailSlide .slideWrap .leftArrow,
.productDetailSlide .slideWrap .rightArrow{position:absolute;top:50%;left:-70px;z-index:10;transform:translate(0,-50%);width:22px;height:57px;background:url("/assets/images/common/icon/arrow-left-w.png") no-repeat 0 0;}
.productDetailSlide .slideWrap .rightArrow{left:auto;right:-70px;background:url("/assets/images/common/icon/arrow-right-w.png") no-repeat 0 0;}

.productDetailSlide .slideWrap .slideWrapper .slide .csFocus:before{position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;content:"";display:block;border-radius:6px;overflow:hidden;background:#f4f4f4;box-shadow:0 0 0 5px #f4f4f4;opacity:0;}
.productDetailSlide .slideWrap .slideWrapper .slide .csFocus.focusOn:before{box-shadow:0 0 0 5px #f4f4f4;opacity:1;}

.VODProductDetailWrap .slidePage {position:absolute; bottom:0; left:50%; z-index:10; transform:translate(-50%, 0); margin-top:50px; font-size:0; text-align:center;}
.VODProductDetailWrap .slidePage span {display:inline-block; width:14px; height:14px; border-radius:14px; background-color:rgba(244, 244, 244, 0.5);}
.VODProductDetailWrap .slidePage span + span {margin-left:10px;}
.VODProductDetailWrap .slidePage span.on {background-color:#f4f4f4;}



