/* EventSlideTypeA.css */
:root{
	--page:0;
}
.eventSlideTypeA {padding-top:80px;}
.eventSlideTypeA .slideWrap {position:relative;z-index:1;transform:translate(0,0);}
.eventSlideTypeA .slideWrap .slideCon {overflow:hidden; margin:-40px -30px -45px; padding:40px 10px 45px;}
.eventSlideTypeA .slideWrap .slideCon .slideWrapper{display:flex;align-items:center; justify-content:space-between;height:212px;transform:translate3d(calc(var(--page) * -576px),0,0);}
.eventSlideTypeA .slideWrap .slideCon .slideWrapper .slide {display:block;margin:0 20px;}
.eventSlideTypeA .slideWrap .slideCon .slideWrapper .slide.csFocus {position:relative;z-index:1;width:536px; height:172px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);}
.eventSlideTypeA .slideWrap .slideCon .slideWrapper .slide.csFocus .imgWrapper {overflow:hidden; display:block; position:relative; z-index:1; width:536px; height:100%;border-radius:4px;overflow:hidden;background:url("/assets/images/common/default/event_block_3set_default.png") no-repeat 0 50%;}
.eventSlideTypeA .slideWrap .slideCon .slideWrapper .slide.csFocus .imgWrapper img {position:absolute; top:50%; left:0; transform:translate(0,-50%); z-index:10;}
.eventSlideTypeA .slideWrap .slideCon .slideWrapper .slide.csFocus.focusOn {height:212px;transform:scale(1.08); box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.35);}

.eventSlideTypeA .leftArrow,
.eventSlideTypeA .rightArrow{position:absolute;top:50%;left:-64px;z-index:10;transform:translate(0,-50%);width:24px;height:58px;background:url("/assets/images/common/icon/arrow-left.png") no-repeat 0 0;opacity:0;}
.eventSlideTypeA .rightArrow{left:auto;right:-64px;background:url("/assets/images/common/icon/arrow-right.png") no-repeat 0 0;}
.eventSlideTypeA .activeSlide.leftActive .leftArrow,
.eventSlideTypeA .activeSlide.rightActive .rightArrow{opacity:1;}
.eventSlideTypeA .activeSlide.lastActive .slideCount{transform:translate(0,-34px);}

.eventSlideTypeA .activeSlide .slideCount{opacity:1;}
.eventSlideTypeA .slideCount{opacity:0;position:absolute;top:31px;right:0;z-index:10;font-size:23px;line-height:1;letter-spacing:normal;color:#6a6a6a;transform:translate(0,0);}
.eventSlideTypeA .slideCount .current{font-weight:700;}

.eventSlideTypeA .slideWrapper .csFocus:before{position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;content:"";display:block;border-radius:2px;overflow:hidden;box-shadow:0 0 0 5px #f4f4f4;opacity:0;}
.eventSlideTypeA .slideWrapper .csFocus.focusOn:before{box-shadow:0 0 0 5px #f4f4f4;opacity:1;}