:root{
    --page:0;
}
.slideTypeB_A .slideWrapper{transform:translate3d(calc(var(--page) * -351px),0,0);}

.slideTypeB_A .slideWrapper{display:flex;justify-content:space-between;}
.slideTypeB_A{padding-top:80px;}
.slideTypeB_A .slideWrap{position:relative;z-index:1;}
/*.activeSlide .slideTypeB_A .title {padding-bottom:0;}*/
.slideTypeB_A .title {padding-bottom:18px; font-size:36px; line-height:1.11; letter-spacing:-0.8px; color:#1a1a1a; opacity:0.8;}
.slideTypeB_A .slideWrap .slideCon {overflow:hidden; margin:-20px -50px -40px; padding:24px 20px 40px; font-size:0;}
.slideTypeB_A .slideWrap .slideWrapper .slide {display:inline-block; padding:0 32px;}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus {overflow:hidden; position:relative; z-index:1;  border-radius:4px;}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus.focusOn {transform:scale(1.2,1.2); -webkit-transform:scale(1.2,1.2);}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus .onAir{display:inline-block; position:absolute; top:14px; right:14px; z-index:10; width:84px; height:31px; border-radius:16px; background-image: linear-gradient(290deg, rgba(255,110,53,0.85), rgba(234,48,74,0.85)); font-size:19px; color:#fff; line-height:31px; text-align:center;}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus .grade19{position:absolute; top:0; left:0; right:0; bottom:0; z-index:10; border-radius:3px; background-color:rgba(0,0,0,0.85);}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus .grade19 .gradeText{display:block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); font-size:27px; color:rgba(255,255,255,1); line-height:35px; text-align:center;}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus .grade19 .gradeText .gradeCircle{display:block; width:65px; height:65px; margin:0 auto 10px; border-radius:100%; background-color:rgba(183,5,46,1); font-size:32px; color:#fff; line-height:65px; text-align:center;}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus .programTitle {display:block; padding:12px 0; position:absolute; bottom:0; left:0; z-index:10; width:100%; height:56px; background-color: rgba(8, 12, 35, 0.5); font-size:27px; line-height:1.15; letter-spacing:-0.8px; text-align:center; color:#fff;}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus .programTitle .iconTimer{display:inline-block; width:32px; height:31px; margin-right:6px; background:url('/assets/images/search/icon-timer.png') no-repeat; vertical-align:middle;}
.slideTypeB_A .slideWrap .slideWrapper .slide .csFocus .programTitle .iconFavor{display:inline-block; width:29px; height:27px; margin-right:6px; background:url('/assets/images/search/icon-favor.png') no-repeat; vertical-align:middle;}
.slideTypeB_A .leftArrow,
.slideTypeB_A .rightArrow{position:absolute;top:50%;left:-70px;z-index:10;transform:translate(0,-70%);width:23px;height:58px;background:url("/assets/images/common/icon/slide-left1.png") no-repeat 0 0;opacity:0;}
.slideTypeB_A .rightArrow{left:auto;right:-70px;background:url("/assets/images/common/icon/slide-right1.png") no-repeat 0 0;}
.slideTypeB_A .activeSlide .leftArrow,
.slideTypeB_A .activeSlide .rightArrow{opacity:1;}

.contentGroup.activeSlide .slideTypeB_A .title{transform:translate(0,-18px);}

