:root{
	--page:0;
}

.slideTypeA_A .slideWrapper{transform:translate3d(calc(var(--page) * -289px),0,0);}

.slideTypeA_A{padding-top:80px;}
.slideTypeA_A .slideWrap{position:relative;z-index:1;}
.slideTypeA_A .title{transform:translate(0,0);font-size:36px;line-height:40px;letter-spacing:-1px;font-weight:400;color:#1a1a1a;}
.slideTypeA_A .slideWrap .slideCon{margin:-44px -30px -80px;padding:60px 10px 95px;overflow:hidden}
.slideTypeA_A .slideWrapper{display:flex;justify-content:space-between;}
.slideTypeA_A .slideWrapper .slide{padding:0 21px;text-align:center;}
.slideTypeA_A .slideWrapper .csFocus{display:block;position:relative;width:246px;}
.slideTypeA_A .slideWrapper .csFocus img{display:block;width:100%;border-radius:4px;box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.2);}
.slideTypeA_A .slideWrapper .csFocus.focusOn img{box-shadow:0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 0 10px 0 rgba(0, 0, 0, 0.1);}
.slideTypeA_A .slideWrapper .csFocus .slideTitle{position:absolute;bottom:-40px;left:50%;z-index:10;transform:translate(-50%,0);opacity:0;display:inline-block;margin-top:15px;line-height:30px;font-size:26px;color:#f4f4f4;font-weight:700;white-space:nowrap;}
/*.slideTypeA_A .slideWrap .slideWrapper .slide .csFocus .grade19{position:absolute; top:0; left:0; right:0; z-index:10; height:354px; border-radius:3px; background-color:rgba(0,0,0,0.85);}*/
/*.slideTypeA_A .slideWrap .slideWrapper .slide .csFocus .grade19 .gradeText{display:block; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); font-size:27px; color:#fff; line-height:35px; text-align:center;}*/
/*.slideTypeA_A .slideWrap .slideWrapper .slide .csFocus .grade19 .gradeText .gradeCircle{display:block; width:65px; height:65px; margin:0 auto 10px; border-radius:100%; background-color:rgba(183,5,46,1); font-size:32px; color:#fff; line-height:65px; text-align:center;}*/
.slideTypeA_A .slideWrapper .csFocus{transform:scale(1,1);}
.slideTypeA_A .slideWrapper .csFocus.focusOn{transform:scale(1.2,1.2);}
.slideTypeA_A .slideWrapper .csFocus.focusOn .slideTitle{opacity:1;}
.slideTypeA_A .leftArrow,
.slideTypeA_A .rightArrow{position:absolute;top:50%;left:-70px;z-index:10;transform:translate(0,-50%);width:23px;height:58px;background:url("/assets/images/common/icon/arrow-left.png") no-repeat 0 0;opacity:0;}
.slideTypeA_A .rightArrow{left:auto;right:-70px;background:url("/assets/images/common/icon/arrow-right.png") no-repeat 0 0;}
.slideTypeA_A .activeSlide.leftActive .leftArrow,
.slideTypeA_A .activeSlide.rightActive .rightArrow{opacity:1;}

.contentGroup.activeSlide .title{transform:translate(0,-40px);}

.slideTypeA_A .activeSlide .slideCount{opacity:1;}
.slideTypeA_A .slideCount{opacity:0;position:absolute;top:7px;right:0;z-index:10;font-size:23px;line-height:1;letter-spacing:normal;color:#6a6a6a;transform:translate(0,0);}
.slideTypeA_A .slideCount .current{font-weight:700;}
.slideTypeA_A .activeSlide.lastActive .slideCount{transform:translate(0,-30px);}


.slideTypeA_A .slideWrapper .csFocus .imgWrap{position:relative;z-index:1;display:block;}
.slideTypeA_A .slideWrapper .csFocus .imgWrap .flagWrap{position:absolute;right:0;bottom:0;z-index:10;}
.slideTypeA_A .slideWrapper .csFocus .imgWrap .flagWrap img{opacity:1;position:absolute;right:-9px;bottom:0;z-index:10;display:inline-block;width:auto;border-radius:0;box-shadow:none;}
.slideTypeA_A .slideWrapper .csFocus .imgWrap .flagWrap img.flagImg{right:0;}
.slideTypeA_A .slideWrapper .csFocus .imgWrap .flagWrap img:not(.flagImg){z-index:15;}
.slideTypeA_A .slideWrapper .csFocus.focusOn .imgWrap .flagWrap img.flagImg,
.slideTypeA_A .slideWrapper .csFocus.focusOn .imgWrap .flagWrap img:only-child{opacity:1;}
.slideTypeA_A .slideWrapper .slide:first-child .csFocus.textOver .slideTitle{left:0;transform:translate(0);}
.slideTypeA_A .slideWrapper .slide.first .csFocus.textOver .slideTitle{left:0;transform:translate(0,-50%);}
.slideTypeA_A .slideWrapper .slide:last-child .csFocus.textOver .slideTitle{right:0;left:auto;transform:translate(0);}

.dark .slideTypeA_A .slideWrap .slideWrapper .slide .csFocus .slideTitle{color:rgba(244,244,244,1);}
.dark .slideTypeA_A .slideCount{color: #d4d4d4;}

.slideTypeA_A .slideWrapper .csFocus:before{position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;content:"";display:block;border-radius:2px;overflow:hidden;box-shadow:0 0 0 5px #f4f4f4;opacity:0;}
.slideTypeA_A .slideWrapper .csFocus.focusOn:before{box-shadow:0 0 0 5px #f4f4f4;opacity:1;}