:root{
	--page:0;
}
.slideTypeB{padding-top:80px;}

.slideTypeB .slideWrapper{transform:translate3d(calc(var(--page) * -346px),0,0);}
.slideTypeB .slideWrapper{display:flex;justify-content:space-between;}
.slideTypeB .slideWrap{position:relative;z-index:1;transform:translate(0,0);}
.slideTypeB .slideWrap.activeSlide{z-index:100;}
.slideTypeB .title{font-size:36px; line-height:52px; color:#303030;transform:translate(0,2px);}
.slideTypeB .slideWrap .slideCon {overflow:hidden; margin:-20px -35px -115px; padding:20px 17px 115px; font-size:0;}
.slideTypeB .slideWrap .slideWrapper .slide {display:inline-block; margin:0 20px;}
.slideTypeB .slideWrap .slideWrapper .slide .csFocus {position:relative;z-index:1;display:block; position:relative; z-index:1; width:306px;height:180px;border-radius:4px;background:url('/assets/images/common/default/thumbnail_default_land.png') no-repeat 0 0;background-size:100% 100%;box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.2);}
.slideTypeB .slideWrap .slideWrapper .slide .csFocus img {border-radius:4px;}
.slideTypeB .slideWrap .slideWrapper .slide .csFocus.focusOn {transform:scale(1.15,1.15); -webkit-transform:scale(1.15,1.15); box-shadow: 0 14px 14px 0 rgba(0, 0, 0, 0.35);}
.slideTypeB .slideWrap .slideWrapper .slide .csFocus .programTitle {display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding:8px 0; position:absolute; bottom:0; left:0; z-index:10; width:100%; height:56px; background-color: rgba(8, 12, 35, 0.5); border-radius:0 0 4px 4px; font-size:27px; line-height:40px; letter-spacing:-0.8px; text-align:center; color:#fff;}
.slideTypeB .slideWrap .slideWrapper .slide .csFocus.focusOn .programTitle {overflow:visible; text-overflow:unset; bottom:-49px; left:50%; transform:translate(-50%,0); padding:0; width:auto; height:auto; background:transparent; border-radius:0; font-weight:700; color:#1a1a1a; line-height:46px; white-space:nowrap;}

/*.slideTypeB .slideCon .csFocus .iconFlag{position:absolute;top:0;right:8px;width:28px;height:52px;background:url('/assets/images/synopsis/flag.png') 0 0 no-repeat;}*/

.slideTypeB .slideWrapper .csFocus:before{position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;content:"";display:block;border-radius:2px;overflow:hidden;box-shadow:0 0 0 5px #f4f4f4;opacity:0;}
.slideTypeB .slideWrapper .csFocus.focusOn:before{box-shadow:0 0 0 5px #f4f4f4;opacity:1;}

.slideTypeB .leftArrow,
.slideTypeB .rightArrow{position:absolute;top:50%;left:-64px;z-index:10;transform:translate(0,-50%);margin-top:-46px;width:24px;height:58px;background:url("/assets/images/common/icon/arrow-left.png") no-repeat 0 0;opacity:0;}
.slideTypeB .rightArrow{left:auto;right:-64px;background:url("/assets/images/common/icon/arrow-right.png") no-repeat 0 0;}
.slideTypeB .activeSlide.leftActive .leftArrow,
.slideTypeB .activeSlide.rightActive .rightArrow{opacity:1;}
.slideTypeB .activeSlide.lastActive .slideCount{transform:translate(0,-18px);}

.slideTypeB .activeSlide .slideCount{opacity:1;}
.slideTypeB .slideCount{opacity:0;position:absolute;top:-16px;right:0;z-index:10;font-size:23px;line-height:36px;letter-spacing:normal;color:#6a6a6a;transform:translate(0,0);}
.slideTypeB .slideCount .current{font-weight:700;}

.contentGroup.activeSlide .slideTypeB .title{transform:translate(0,-18px);}
.slideTypeB .slideWrap .slideWrapper .slide .csFocus .loadingBar {overflow:hidden; position:absolute; bottom:0; left:0; z-index:20; width:100%; height:8px; border-radius:0 0 4px 4px; background:rgba(0,0,0,0.3); transform:translate3d(0,0,0);}
.slideTypeB .slideWrap .slideWrapper .slide .csFocus .loadingBar .currentState {position:absolute; bottom:0; left:0; z-index:20; height:8px; background:linear-gradient(to right, #e5186f, #ff7422);}

.slideTypeB .slideWrapper .slide:first-child .csFocus.textOver .programTitle{left:0;transform:translate(0);}
.slideTypeB .slideWrapper .slide:last-child .csFocus.textOver .programTitle{right:0;left:auto;transform:translate(0);}
.slideTypeB .slideWrapper .slide:only-child .csFocus.textOver .programTitle{left:0;right:auto;transform:translate(0);}

.dark .slideTypeB .slideWrap .slideWrapper .slide .csFocus .programTitle{color:rgba(244,244,244,1);}
.dark .slideTypeB .slideCount{color: #d4d4d4;}

.possessionVOD .slideTypeB .csFocus .title{color:rgba(244,244,244,1);}
.possessionVOD .slideTypeB .csFocus.focusOn .title{font-weight:700;}
.possessionVOD .slideTypeB .slideCount{color:rgba(212,212,212,1);}
.possessionVOD .slideTypeB .slideWrap .slideWrapper .slide .csFocus .programTitle{color:rgba(244,244,244,0.9);}